<h1> <%= "All Orders Details" %></h1>

<% @orders.each_with_index do |order, index| %>
  <%= "Order #{index+1}" %>
  <br>
  <% order.line_items.each do |item| %>
   
  <tr>
  <td class="quantity"><%= item.quantity %></td>
  <td><%= item.product.title %></td>
  <td class="price"><%= item.total_price %></td>
  <td>
   <% if item.product.images.attached? %>
     <%= image_tag(attachments[item.product.images[0].filename.to_s].url) %>
   <% end %>
  </td>
 </tr>

  <% end%>
<% end%>