<div class="container">
  
  <% if product.images.attached? %>
    <%product.images.each do |image| %>
      <div class="image-sliderfade">
      <%= image_tag(image, width: "150") %>
      </div>   
    <%end%>
  <% elsif product.image_url %>
    <div class="image-sliderfade">
     <%= image_tag(product.image_url, width: "150") %>
    </div>   
  <%end%>
 
</div>
<br>

 <%= javascript_pack_tag 'image_slider'%>

<div id="<%= dom_id product %>">
  <p>
    <strong>Title:</strong>
    <%= product.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= product.image_url %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

</div>
